body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background: #000;
}

header {
    color: #eee;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    font-size: 100px;
    color: 100px;
}

header .sub-heading {
    font-size: 24px;
    margin: 0;
}

.cube-container .cube-face {
    width: 300px;
    height: 300px;
    font-size: 30px;
    background: yellow;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cube-container .front {
    background: #e63946;
}

.cube-container .back {
    background: #06d6a0;
}
.cube-container .left {
    background: #023047;
    color: #fff;
}
.cube-container .right {
    background: #3d348b;
    color: #fff;
}
.cube-container .top {
    background: #a8dadc;
}
.cube-container .bottom {
    background: #ffd166;
}
