body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background: #000;
}

header {
    color: #eee;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    font-size: 100px;
    color: 100px;
}

header .sub-heading {
    font-size: 24px;
    margin: 0;
}